table {
    width: 100%;
    border-collapse: collapse;
    font-size:10px;
}
th,td {
    padding: 5px 3px;
}
td:first-child, th:first-child, th:nth-child(2)  {
    text-align: left;
}

td:last-child, th:last-child  {
    text-align: right;
}
.logo-wraper {
    float: right;
}
.center {
    text-align: center;
}
@media print {
    button,  title {
        display: none;
    }
 }